@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#302f2f), to(#1f1e1e));
  background-image: linear-gradient(#302f2f, #1f1e1e);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

header img {
  -webkit-filter: invert(1) saturate(100%);
          filter: invert(1) saturate(100%);
}

header h3 {
  color: #ebebeb;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.radio-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: auto;
}

.radio-link {
  margin: 1rem;
}

.radio-logo-img {
  width: 8rem;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px #1a1a1a;
          box-shadow: 2px 2px 10px #1a1a1a;
}

.radio-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#383838));
  background-image: linear-gradient(#5f5f5f, #383838);
  width: 20rem;
  margin: 4rem auto 1rem;
  border-radius: 1rem;
  padding: 3rem 0 3rem 0;
  -webkit-box-shadow: 2px 5px 20px #1a1a1a;
          box-shadow: 2px 5px 20px #1a1a1a;
}

.live-img {
  border-radius: 0.8rem;
  width: 11rem;
  -webkit-box-shadow: -0.5px -0.5px 5px 1px #424242;
          box-shadow: -0.5px -0.5px 5px 1px #424242;
  -webkit-filter: saturate(90%);
          filter: saturate(90%);
}

.display-playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12vh;
}

.playing-now {
  color: #e4e4e4;
  margin: 0.2rem 0.8rem;
  text-align: center;
  font-size: 1.1rem;
}

.play-pause-button {
  margin-top: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0.5px 0.5px 3px #2b2b2b;
          box-shadow: 0.5px 0.5px 3px #2b2b2b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#a8a8a8));
  background-image: linear-gradient(#e4e4e4, #a8a8a8);
}

.play-pause-button:hover {
  -webkit-box-shadow: 0px 0px 4px #686868;
          box-shadow: 0px 0px 4px #686868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#c0c0c0));
  background-image: linear-gradient(#ebebeb, #c0c0c0);
}

.play-pause-button img {
  width: 40%;
  -webkit-filter: invert(0.2) saturate(100%);
          filter: invert(0.2) saturate(100%);
}

.voulme-container {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 1rem;
}

.volume-icon {
  width: 1.3rem;
  margin: 1rem;
  -webkit-filter: invert(0.8) saturate(100%);
          filter: invert(0.8) saturate(100%);
}

.control-volume {
  -webkit-appearance: none;
  width: 60%;
  height: 5px;
  border-radius: 5px;
  background: #b9b9b9;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.control-volume:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.control-volume:focus {
  border: 1px solid white;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.control-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#cccbcb));
  background-image: linear-gradient(#f0f0f0, #cccbcb);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 4px #2b2b2b;
          box-shadow: 1px 2px 4px #2b2b2b;
}

.ontrol-volume::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.hide {
  display: none;
}

.home-icon {
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0.5px 0.5px 3px #2b2b2b;
          box-shadow: 0.5px 0.5px 3px #2b2b2b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#a8a8a8));
  background-image: linear-gradient(#e4e4e4, #a8a8a8);
}

.home-icon:hover {
  -webkit-box-shadow: 0px 0px 4px #686868;
          box-shadow: 0px 0px 4px #686868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#c0c0c0));
  background-image: linear-gradient(#ebebeb, #c0c0c0);
}

.home-icon img {
  width: 40%;
  -webkit-filter: invert(0.2) saturate(100%);
          filter: invert(0.2) saturate(100%);
}
